* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

/*FUENTES*/
@font-face {
    font-family: "Masque";
    src: local(fuentes/"MASQUE_.ttf");
}

/*BODY*/
body {
    margin: 0;
}

.fondo {
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

/*HEADER*/
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    background: linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -webkit-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -moz-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background-color: #013c79;
    box-shadow: 0 0 7px 0 rgb(255, 255, 255);
    width: 100%;
    z-index: 99;
    position: fixed;
}

.titulo {
    font-family: Masque;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
}

.logo {
    color: black;
    height: 40px;

}

.nav_links {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
}

.nav_links li {
    border-radius: 3px;
    margin: 0 20px;
}

.nav_links li a {
    padding: 10px 15px;
}

.link a {
    font-size: 18px;
    position: relative;
    color: black;
    font-family: Masque;
}

.carrito {

    display: flex;
    background-color: transparent;
    border: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
}

.imgcarrito {
    width: 50px;
    height: 50px;
}

/*FOOTER*/
.footer {
    background: linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -webkit-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -moz-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background-color: #013c79;
    box-shadow: 0 0 7px 0 rgb(255, 255, 255);
    padding: 0;
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

/*MAIN*/

/*.contenedor_tiendas {
    background-color: transparent;
    display: flex;
    top: 100px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 300px;
}*/

.contenedor_tiendas {
    width: 100%;
    display: grid;
    grid-gap: 30%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 400px);
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding: 10% 20%;
}

.tiendas {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 30px #ffffff;
    margin:0;
    cursor: pointer;
}

.boton_pc {
    background-image: url(../imagenes/boton_pc2.png);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 600ms;
    transition-timing-function: ease;
    transition-property: background-color, transform;
}

.boton_pc:hover {
    transform: scale(1.1);
    background-color: #013c79;
}

.boton_play {
    background-image: url(../imagenes/boton_play2.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 600ms;
    transition-timing-function: ease;
    transition-property: background-color, transform;
}

.boton_play:hover {
    transform: scale(1.1);
    background-color: #013c79;
}

.tienda_pc2 {
    display: block;
    width: 100%;
    height: 100%;
}

.tienda_play2 {
    display: block;
    width: 100%;
    height: 100%;
}

/*TIENDA PC*/
/*TITULO*/
.nombre_tienda {
    display: block;
}

.nombre_tienda h1 {
    display: flex;
    font-family: Masque;
    font-size: 30px;
    line-height: 3;
    font-weight: 900;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 7px #00aeff;
    z-index: 99;
    padding-top: 100px;
    width: 100%;
}
/*JUEGOS*/
.zoom {
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-property: transform;
}

.zoom:hover {
    transform: scale(1.05);
}

.zoom2 {
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-property: transform;
}

.zoom2:hover {
    transform: scale(1.025);
}

.juegos_pc {
    min-height: 600px;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-gap: 15px;
    margin: 1,5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding-bottom: 150px;
    
}

.juego {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px #00aeff;
    margin:0;
    cursor: pointer;
}

/*AGREGAR CARRITO IMG L*/
.capa {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000af;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa h3 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Masque;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 30%;

}

.capa p {
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 20%;
}

.zoom:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.zoom:hover > .capa h3 {
    margin-top: 40%;
}

/*AGREGAR CARRITO2 IMG C*/
.capa2 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000af;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa2 h3 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Masque;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 30%;

}

.capa2 p {
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 20%;
}

.zoom:hover > .capa2 {
    opacity: 1;
    visibility: visible;
}

.zoom:hover > .capa2 h3 {
    margin-top: 20%;
}

/*AGREGAR CARRITO IMG CL*/
.capa3 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000af;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capa3 h3 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Masque;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 30%;

}

.capa3 p {
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 500ms ease-out;
    color: #ffffff;
    font-weight: 20%;
}

.zoom2:hover > .capa3 {
    opacity: 1;
    visibility: visible;
}

.zoom2:hover > .capa3 h3 {
    margin-top: 10%;
}

/*GRID DE JUEGOS*/
.juego_1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.juego_1 {
    background-image: url(../imagenes/gta.jpg);
    background-size: cover;
    background-position: center;
}

.juego_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.juego_2 {
    background-image: url(../imagenes/assassin.jpg);
    background-size: cover;
    background-position: center;
}

.juego_3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.juego_3 {
    background-image: url(../imagenes/days.jpg);
    background-size: cover;
    background-position: center;
}

.juego_4 {
    grid-column: 4/5;
    grid-row: 1/3;
}

.juego_4 {
    background-image: url(../imagenes/dark.jpg);
    background-size: cover;
    background-position: center;
}

.juego_5 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.juego_5 {
    background-image: url(../imagenes/cyber.jpg);
    background-size: cover;
    background-position: center;
}

.juego_6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.juego_6 {
    background-image: url(../imagenes/minecraft.jpg);
    background-size: cover;
    background-position: center;
}

.juego_7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.juego_7 {
    background-image: url(../imagenes/elder.jpg);
    background-size: cover;
    background-position: center;
}

.juego_8 {
    grid-column: 3/5;
    grid-row: 3/4;
}

.juego_8 {
    background-image: url(../imagenes/battlefield.jpg);
    background-size: cover;
    background-position: center;
}

/*TIENDA PLAY*/
/*TITULO*/
.nombre_tienda_2 {
    display: block;
}

.nombre_tienda_2 h1 {
    display: flex;
    font-family: Masque;
    font-size: 30px;
    line-height: 3;
    font-weight: 900;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 7px #ff00ea;
    z-index: 99;
    padding-top: 100px;
    width: 100%;
}

/*JUEGOS*/
.juegos_play {
    min-height: 600px;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-gap: 15px;
    margin: 1,5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding-bottom: 150px;
}

.juego_play {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px #ff00ea;
    margin:0;
    cursor: pointer;
}

.juego_play_1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.juego_play_1 {
    background-image: url(../imagenes/ark.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.juego_play_2 {
    background-image: url(../imagenes/fifa.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.juego_play_3 {
    background-image: url(../imagenes/dios.jpeg);
    background-size: cover;
    background-position: center;
}

.juego_play_4 {
    grid-column: 4/5;
    grid-row: 1/3;
}

.juego_play_4 {
    background-image: url(../imagenes/spider.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_5 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.juego_play_5 {
    background-image: url(../imagenes/resident.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.juego_play_6 {
    background-image: url(../imagenes/need.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_7 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.juego_play_7 {
    background-image: url(../imagenes/far.jpg);
    background-size: cover;
    background-position: center;
}

.juego_play_8 {
    grid-column: 3/5;
    grid-row: 3/4;
}

.juego_play_8 {
    background-image: url(../imagenes/uncharted.png);
    background-size: cover;
    background-position: center;
}

/*REDES*/
.contenedor_redes {
    min-height: 600px;
    width: 100%;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 400px);
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding: 20% 20%;
    margin: 1,5rem;

}

.red {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 30px #ffffff;
    margin:0;
    cursor: pointer;
}

.fb {

    background-image: url(../imagenes/fb.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
}

.ig {

    background-image: url(../imagenes/ig.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
}

.yt {

    background-image: url(../imagenes/yt.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
}

/*ZOOM REDES*/
.zoom_redes {
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-property: transform;
}

.zoom_redes:hover {
    transform: scale(1.05);
}

/*......*/
.capafb {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff71;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.capafb h3 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-family: Masque;
    transition: all 500ms ease-out;
    color: #000000;
    font-weight: 30%;

}

.capafb p {
    position: relative;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 500ms ease-out;
    color: #000000;
    font-weight: 20%;
}

/*FB*/
.zoom_redes:hover > .fb .capafb {
    opacity: 1;
    visibility: visible;
}

.zoom_redes:hover > .fb .capafb h3 {
    margin-top: 50%;
}
/*IG*/
.zoom_redes:hover > .ig .capafb {
    opacity: 1;
    visibility: visible;
}

.zoom_redes:hover > .ig .capafb h3 {
    margin-top: 50%;
}
/*YT*/
.zoom_redes:hover > .yt .capafb {
    opacity: 1;
    visibility: visible;
}

.zoom_redes:hover > .yt .capafb h3 {
    margin-top: 50%;
}



