    /*MOBILE M*/
 @media (max-width: 375px) {
    
    nav {
        padding: 5% 10%;
    }
    .titulo {
        font-size: 15px;
    }
    .nav_links {
        display: block;
        margin-right: 0; 
    }
    .link a {
        font-size: 12px;
    }
    
        /*CONTACTO*/
    /*.contenedor_formulario {
        margin-top: 45%;
    }*/
        /*REDES*/
    .contenedor_redes {
        padding-top: 120px;
    }

        /*TIENDA PC*/
    .juegos_pc {
        grid-template-columns: repeat(4, 73px);
    }

         /*TIENDA PLAY*/
     .juegos_play {
        grid-template-columns: repeat(4, 73px);
    }
 }