.footer {
    background: linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -webkit-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background: -moz-linear-gradient(90deg,#013c79 0%, #005fda 50%, #013c79 100%);
    background-color: #013c79;
    box-shadow: 0 0 7px 0 rgb(255, 255, 255);
    padding: 0;
    display: flex;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
}