.capa2 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000af;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    h3 {
        display: inline-block;
        position: relative;
        text-align: center;
        font-family: Masque;
        transition: all 500ms ease-out;
        color: #ffffff;
        font-weight: 30%;
    }
    p {
        position: relative;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: all 500ms ease-out;
        color: #ffffff;
        font-weight: 20%;
    }
}
.zoom:hover > .capa2 {
    opacity: 1;
    visibility: visible;
    h3 {
        margin-top: 20%;
    }
}