.juego {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px #00aeff;
    margin:0;
    cursor: pointer;
}
.juego_play {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 7px #ff00ea;
    margin:0;
    cursor: pointer;
}