.contenedor_formulario {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 10%;
    right: 10%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 30px #ffffff;
    padding: 2%;

}

label.form_label {
    color: #ffffff;
    font-weight: bold;
}